.specific {
    display:inline; 
    float:left;
    text-align: center;
}

.hidden {
    display: none;
    float:left;
    text-align: center;
}

.fa-camera-retro:hover {
    cursor: pointer;
}

.tooltip {
    visibility: hidden;
    width: 100px;
    color: white;
    font-size: 12px;
    background-color: black;
    border-radius: 10px;
    padding: 10px 15px 10px 15px;
    top: 125px;
    left: -50%;
  }
  
.hover {
    position: relative;
    display: inline-block;
    font-family: Avenir;
    text-align: center;
}