.red{
    background-color: red;
}
.yellow{
    background-color: yellow;
}
.blue{
    background-color: blue;
}
.gray{
    background-color: grey;
}
.maroon{
    background-color: maroon;
}
.brown{
    background-color: brown;
}
.green{
    background-color: green;
}