.div_1 {
    height: 300px;
    width: 500px;
    background-image: url(https://image.freepik.com/free-vector/abstract-geometric-background-in-red-and-cream-tones_1095-254.jpg);
    background-size: 500px 300px;
    background-repeat: no-repeat;
    float: left;
}